/* Стилі для шапки сайту */
header {
    background-color: #f2f2f2; /* Колір фону шапки */
    padding: 10px; /* Відступи всередині шапки */
    text-align: left; /* Вирівнювання тексту по правій стороні */
}

/* Стилі для навігаційного меню */
nav ul {
    list-style: none; /* Відключаємо маркери списку */
    padding: 0; /* Відступи всередині списку */
    text-align: right;
}

nav ul li {
    display: inline-block; /* Відображаємо пункти меню в одну лінію */
    margin-left: 10px; /* Відступи між пунктами меню */
    text-align: right;
}

nav ul li a {
    text-decoration: none; /* Відключаємо підкреслення тексту посилань */
    color: #333; /* Колір тексту посилань */
    text-align: right;
}
/* Стилі для заголовка h1 */
header h1 {
    display: inline; /* Встановлюємо властивість inline для заголовка, щоб він займав тільки необхідний простір */
    margin: 0; /* Знімаємо відступи для заголовка */
    color: black; /* Колір тексту заголовка */
    margin: 0; /* Знімаємо відступи для заголовка */
    text-align: left; /* Вирівнювання тексту по лівій стороні */
}
@media (max-width: 600px) {
    header {
        text-align: left; /* Вирівнювання тексту по лівій стороні */
    }

    nav ul {
        text-align: left; /* Вирівнювання тексту по лівій стороні */
    }
}
@media (max-width: 375px) {
    /* Ваші стилі тут */
}

/* Медіа-запит для iPhone 8 */
@media (max-width: 375px) {
    /* Ваші стилі тут */
}
