/* Стилі для шапки сайту */
header {
    background-color: #f2f2f2; /* Колір фону шапки */
    padding: 10px; /* Відступи всередині шапки */
    text-align: left; /* Вирівнювання тексту по правій стороні */
}

/* Стилі для навігаційного меню */
nav ul {
    list-style: none; /* Відключаємо маркери списку */
    padding: 0; /* Відступи всередині списку */
    text-align: right;
}

nav ul li {
    display: inline-block; /* Відображаємо пункти меню в одну лінію */
    margin-left: 10px; /* Відступи між пунктами меню */
    text-align: right;
}

nav ul li a {
    text-decoration: none; /* Відключаємо підкреслення тексту посилань */
    color: #333; /* Колір тексту посилань */
    text-align: right;
}
/* Стилі для заголовка h1 */
header h1 {
    display: inline; /* Встановлюємо властивість inline для заголовка, щоб він займав тільки необхідний простір */
    margin: 0; /* Знімаємо відступи для заголовка */
    color: black; /* Колір тексту заголовка */
    margin: 0; /* Знімаємо відступи для заголовка */
    text-align: left; /* Вирівнювання тексту по лівій стороні */
}

/* Медіа-запит для адаптивної ширини */
@media (min-width: 600px) {
    header {
        text-align: center; /* Вирівнювання тексту по центру */
    }
@media (max-with: 1000px) {
     header {
         text-align: center;
    }

     nav ul {
        text-align: center; /* Вирівнювання тексту по центру */
    }

    /* Змінюємо стилі для мобільної версії */
    header h1 {
        font-size: 24px; /* Зменшуємо розмір тексту для заголовка */
    }

    nav ul li {
        display: block; /* Змінюємо відображення пунктів меню на блоки для кращої читабельності */
        margin-bottom: 10px; /* Додаємо відступ між пунктами меню */
    }
}

/* Загальні стилі для контенту сайту */
body {
    max-width: 1000px; /* Максимальна ширина контенту */
    margin: 0 auto; /* Вирівнювання контенту по центру */
    padding: 20px; /* Відступи для контенту */
}